body{
    margin: 0;
    background-color: #fff;
    background-image: linear-gradient(orange 1px, transparent 0),
    linear-gradient(90deg, orange 1px, transparent 0);
    background-size: 100px 100px;
}
canvas{
    display: block;
    border: 1px solid green;
}